body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}
header {
  background: #020617;
  padding: 15px;
}
nav a {
  color: #38bdf8;
  margin: 10px;
  text-decoration: none;
}
.hero {
  padding: 60px;
  text-align: center;
}
.services li {
  padding: 10px;
}
.gallery {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.box {
  background: #1e293b;
  padding: 40px;
  flex: 1;
  text-align: center;
}
.contact-form {
  padding: 20px;
}
input, textarea, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
